.card-section  {
	max-width: 800px;
	margin: auto;

	.card {
		margin-top: 25px;
		a {
			text-decoration: none;
			mat-card-title { font-style: italic; }
		}
	}
	button { margin-top: 25px; }
}
.add-message-section { margin-bottom: 45px; }